// Estilos del footer

.footer {
    background-color: $color-negro;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .footer_redes {
        margin-top: 15px;
        margin-bottom: 10px;

        a {
            margin: 25px;
        }

        img {
            height: 36px;
        }
    }

    .footer_derechos {
        color: $color-blanco;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size:large;
    }
}