// Estilo index

main {
    section.inicio-container {
      display: flex;
      align-items: center;
      max-width: 1300px;
      margin: 0 auto;
  
      .imagen-inicio {
        flex: 1;
        padding: 10px;
        
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
  
      .texto-inicio {
        flex: 1;
        padding: 10px;
        text-align: justify;
      }
    }
  
    section.caracteristicas-destacadas {
      text-align: center;
      margin: 40px 0;
  
      .caracteristicas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 150px;
  
        .caracteristicas-flota,
        .caracteristicas-atencion {
          max-width: 400px;
          text-align: center;
          padding: 10px;
          border: 1px solid $color-border-input;
          border-radius: 25px;
          transition: all 1s;
  
            &:hover {
              transform: scale(1.1);
            }
  
          img {
            max-width: 300px;
            
          }
  
          h2 {
            margin: 20px 0;
          }
  
          p {
            color: $color-gris-oscuro;
          }
        }
      }
    }
  }