// Main reservas

main {
  .form-reserva {
    @include form;

    h4 {
      margin-bottom: 10px;
      text-align: center;
      color: $color-rojo;
    }

    label {
      margin-bottom: 3px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="time"] {

      @include form-input;
    }

    input[type="radio"] {
      margin-right: 2px;
    }

    button[type="submit"] {
      @include custom-button;
    }
  }
}