// Variables

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


// Paleta colores
$color-negro: #0B090A;
$color-negro-claro: #161A1D;
$color-bordo: #660708;
$color-rojo-oscuro: #A4161A;
$color-rojo: #BA181B;
$color-rojo-claro: #E5383B;
$color-gris-oscuro: #3f3e3e;
$color-gris: #D3D3D3;
$color-gris-claro: #F5F3F4;
$color-blanco: #FFFFFF;