// Main vehiculos


.flota-container {

    #carouselflota {
        width: 100%;
        max-width: 460px;
        height: 715px;
        margin: 0 auto;

        .carousel-inner {
            height: 100%;

            .carousel-item p {
                text-align: center;
                color: $color-blanco;

                .card-title {
                    font-size: xx-large;
                    font-style: italic;
                    font-weight: lighter;
                    color: $color-rojo;
                }
            }
        }
    }

    .btn-primary {
       @include custom-button;
    }
}